{extend name="../application/index/view/mobile/layout/master.html" /}
{block name="head_static"}
<link rel="stylesheet" type="text/css" href="__STATIC__/index/mobile/css/reset.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/index/mobile/css/style.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/index/mobile/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_857481_ygwftgnn6n.css">
{/block}
{block name="head_script"}
<style>
    .login-form input{background-color: #f6f6f6;}
</style>
{/block}
{block name="content"}
<div class="login-logo">
    <img src="__STATIC__/index/mobile/images/nav-logo.png">
</div>
<div class="login-form login-form2">
    <ul>
        <li><i class="iconfont icon-zhanghao"></i><input type="text" name="user" placeholder="用户名/手机号"></li>
        <li><i class="iconfont icon-yanzhengma"></i><input type="text" name="code" placeholder="短信验证码"><span class="span-p">获取验证码</span></li>
        <li><i class="iconfont icon-yanzhengma1"></i><input type="text" name="captcha" placeholder="验证码"><img src="{:url('index/index/captcha')}" onclick="this.src=this.src+'?'+Math.random()" class="img-p"> </li>
        {:token()}
        <li><input type="button" onclick="loginMobile()" value="登录" class="bot"></li>
    </ul>
</div>
<div class="Account">
    <a href="{:url('index/login/register')}">新用户？去注册<i class="iconfont icon-jiantou1"></i></a>
</div>
<div class="Third_party">
    <span>其他方式登录</span>
</div>
<div class="login-hird">
    <p>
        <a href="#">
            <img src="__STATIC__/index/mobile/images/icon-wx.png">
        </a>
        <a href="#">
            <img src="__STATIC__/index/mobile/images/icon-qq.png">
        </a>
        <a href="{:url('index/login/index')}">
            <img src="__STATIC__/index/mobile/images/yh.png">
        </a>
    </p>
    <span>登录即代表您已同意<a href="#">《同城好家教隐私政策》</a> </span>
</div>
{/block}
{block name="foot_static"}
<script src="__STATIC__/index/mobile/js/jquery.js"></script>
<script src="__STATIC__/index/mobile/js/jquery-mian.js"></script>
<script src="__STATIC__/index/mobile/js/swiper-4.3.3.jquery.min.js"></script>
<script src="__STATIC__/libs/layer/layer.js"></script>
{/block}
{block name="foot_script"}
<script>
    function loginMobile(){
        var user=$('.login-form input[name="user"]').val();
        var code=$('.login-form input[name="code"]').val();
        var captcha=$('.login-form input[name="captcha"]').val();
        var __token__=$('.login-form input[name="__token__"]').val();
        $.ajax({
            type:'POST',
            url:"{:url('index/login/loginMobile')}",
            data:{user: user,code:code,captcha:captcha,__token__:__token__},
            dataType:'JSON',
            complete:function(XHR, TS){
                status_code=XHR.status;
                responseText=XHR.responseText;
                if(TS=='success'){
                    responseText=JSON.parse(responseText);
                    layer.msg(responseText.message,{time: 1500});
                    setTimeout(function () {
                        location.href = "{:url('index/user/index')}";
                    }, 1500);
                }else{
                    layer.msg(responseText,{time: 3000});
                }
            }
        });
    }
</script>
{/block}