<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <title>{$page_title}</title>
    {block name="head_static"}{/block}
    {block name="head_script"}{/block}
</head>
<body class="f6f6f6">
{block name="content"}{/block}
{block name="foot_static"}{/block}
{block name="foot_script"}{/block}
</body>
</html>